.exposure-incidents {
    width: 100%;
    text-align: center;
    font-size: 12px;
    margin-bottom: 5px;

    .exposure-count {
        font-size: 30px;
        color: #ff026b;
        font-weight: 500;
    }
}