.action-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .chart-header {
        text-align: center;
        cursor: pointer;

        .header-text {
            font-weight: 600;
        }

        .header-text:hover {
            color: gray;
        }

        .header-text:hover ~ .header-sub-text {
            font-weight: bold;
        }

        .header-sub-text {
            font-size: 10px;
        }
    }
}