.chart-container {

    ul.MuiList-root[name=legend-bottom] {
        display: flex;
        width: 100%;
        justify-content: space-between;
    
        .legend-details {
            display: flex;
    
            .legend-text {
                color: #726d72;
                margin: 0 5px;
                font-size: 10px;
            }
        }
    }

    .not-exposed-series:hover {
        fill: #01a009;
        cursor: pointer;
    }

    .exposed-series:hover {
        fill: #b20303;
        cursor: pointer;
    }
}

.series-values {
    position: relative;
    background-color: transparent;
    margin: 0 auto;
    width: 100px;
    text-align: center;
    bottom: 230px;
    color: #726d72;
    z-index: 1;

    .series-value {
        font-weight: bold;
        font-size: 52px;
        color: black;
    }

    .series-link {
        color: blue;
        cursor: pointer;
        font-size: 12px;
    }
}